aiohttp
aioice
aiortc
aiosignal
async-timeout
av
charset-normalizer
contourpy
cycler
dnspython
fonttools
frozenlist
google-crc32c
kiwisolver
matplotlib
multidict
netifaces
numpy
opencv-python
psycopg2
pyee
pylibsrtp
pyOpenSSL
PySimpleGUI
python-dateutil
yarl
